.Product-media {
    display: flex;
    flex-direction: column;
    width: 547px;
    height: 437px;
    border-radius: 33px;
    gap: 32px;
}

.Product-media-image {
    width: 100%;
    height: 100%;
    border-radius: 33px;
    object-fit:fill;
}