.Card-Footer-Link-Container {
    display: flex;
    height: 50px;
    padding: var(--spacing-2, 8px) 1px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-1-5, 6px);
    
}

.Card-Footer-Link-Text {
    display: flex;
    width: 164px;
    height: 26px;
    flex-direction: column;
    justify-content: center;

    color: var(--color-Rihal-White, #F4FFFE);
    text-align: center;
    font-family: var(--font-family-sans, Inter);
    font-size: 18px;
    font-style: normal;
    font-weight: var(--font-weight-medium, 500);
    line-height: var(--font-leading-5, 20px);
    /* 111.111% */
    letter-spacing: var(--font-tracking-normal, 0);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 3.5%;
    /* 0.63px */
    text-underline-offset: 30%;
    /* 5.4px */
    text-underline-position: from-font;
}

.Card-Footer-Link-Icon {
    width: 20px;
    height: 26px;
}