.Product-Industries {
    background: #071A2A;
    padding: 40px;
    font-family: "Inter", Arial, sans-serif;
    display: flex;
    padding: 2px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    border-radius: 32px;
    border: 1px solid rgba(11, 158, 140, 0);
    background: linear-gradient(135deg, rgba(0, 230, 208, 0.52), rgba(11, 158, 140, 0.52));
    
    box-shadow: 0 4px 4px 0 rgba(5, 19, 35, 0.05);
    color: #060D0C;
    font-size: 32px;
    font-weight: 500;
    width: fit-content;
}

.industry-name-container {
    color: var(--color-Primary-Light, #0B9E8C);
    font-family: Rihal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}